@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap");

html,
body {
	padding: 0;
	margin: 0;
	font-family: "JetBrains Mono", monospace;
	scroll-behavior: smooth;
	background-color: #272534;

	color: #fcfbfd !important;
}

a {
	color: #fcfbfd;
	text-decoration: none;
}

a:hover {
	color: #f2c600;
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.navbar {
	display: flex;
	justify-content: flex-end;
	align-content: center;
	align-items: center;
	background-color: #094b44;
	color: #f2c600;
	min-height: 3rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	padding: 0 0.5rem;
}

.navbar a {
	color: #fcfbfd;
}

.navbar a:hover {
	color: #f2c600;
}

.footer {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	min-height: 1rem;
	width: 100%;
	background-color: #094b44;
	color: #f2c600;
	bottom: 0;
}

.main-page {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.main-page--text {
	padding: 2rem;
	border-radius: 3rem;
}

.title {
	margin: 0 1rem;
	text-align: center;
}

.title h3 {
	color: #f2c600;
}

.teck-stack {
	font-size: 3.4em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
	margin: 0 0;
	padding: 4rem 6rem;
}

.teck-stack-section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
}

.teck-stack-section--text {
	padding: 2rem;
	border-radius: 3rem;
}

.projects-section {
	text-align: center;
	padding-top: 1rem;
	min-height: 100vh;
}

.contacts-section {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.contacts-section--text {
	padding: 2rem;
	border-radius: 3rem;
}

.contacts {
	font-size: 3.4em;
}

.presentation-description {
	text-align: center;
	padding: 0 1rem;
	color: #fcfbfd;
}

@media (max-width: 768px) {
	.teck-stack {
		padding: 1.5rem 0.5rem;
	}
}

.project-card {
	text-align: center;
	border: 1px solid #fcfbfd;
	max-width: 16rem;
	border-radius: 0.7rem;
	min-height: 12rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #105a52a4;
}

.project-card-text {
	padding: 1rem;
}

.project-card-img {
	border-top-left-radius: 0.7rem;
	border-top-right-radius: 0.7rem;

}

.project-card:hover {
	border: 1px solid #f2c600;
}

.project-card--links {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.projects-section--projects {
	padding: 3rem;
	display: flex;
	justify-content: center;
	margin: 3vh auto 0 auto;
	gap: 3rem;
	max-width: 60rem;
	flex-wrap: wrap;
}

.teck-stack--element:hover {
	color: #f2c600;
}

.readMore {
	margin-bottom: 0.5rem;
}

.project-page-section {
	text-align: center;
	min-height: 100vh;
	padding-top: 3.5rem;
}

.project-page-description {
	padding: 0.3rem 1.3rem;
	margin: 0 auto;
	max-width: 60rem;
}

.project-page-img {
	border-radius: 0.7rem;
}

.project-page-text {
	background-color: #051d1a;
	padding: 1rem;
	border-radius: 0.7rem;
	margin-top: 1rem;
}

.project-page-section h1 {
	color: #f2c600;
}

.project-page-text p {
	font-size: 1.1rem;
}

.projects-page-links {
	display: flex;
	flex-direction: column;
}
