@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap");
html,
body {
	padding: 0;
	margin: 0;
	font-family: "JetBrains Mono", monospace;
	scroll-behavior: smooth;
	background-color: #191504;
	color: #fcf4f4;
}

a {
	color: #fcf4f4;
	text-decoration: none;
}

a:hover {
	color: #bda035;
}

* {
	box-sizing: border-box;
}

.navbar {
	display: flex;
	justify-content: flex-end;
	align-content: center;
	align-items: center;
	background-color: #191504;
	color: #fcf4f4;
	min-height: 3rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	padding: 0 0.5rem;
}

.navbar a {
	color: #fcf4f4;
}

.navbar a:hover {
	color: #bda035;
}

.footer {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	min-height: 1.5rem;
	width: 100%;
	background-color: #191504;
	color: #fcf4f4;
}

.main-page {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.main-page--text {
	padding: 2rem;
	border-radius: 3rem;
}

.title {
	margin: 0 1rem;
	text-align: center;
}

.teck-stack {
	font-size: 3.4em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
	margin: 0 0;
	padding: 4rem 6rem;
}

.teck-stack-section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
}

.teck-stack-section--text {
	padding: 2rem;
	border-radius: 3rem;
}

.projects-section {
	padding-top: 3rem;
	min-height: 100vh;
}

.contacts-section {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.contacts-section--text {
	padding: 2rem;
	border-radius: 3rem;
}

.contacts {
	font-size: 3.4em;
}

.projects-button {
	color: #191504;
	background-color: #bda035;
	padding: 1rem;
	border-radius: 0.7rem;
}

.projects-button:hover {
	background-color: #bd9f35cf;
	border: solid 1px #fcf4f4;
	color: #191504;
}

.presentation-description {
	text-align: center;
	padding: 0 1rem;
	color: #fcf4f4;
}

@media (max-width: 768px) {
	.teck-stack {
		padding: 1.5rem 0.5rem;
	}
}

.project-card {
	text-align: center;
	border: 1px solid #fcf4f4;
	max-width: 16rem;
	padding: 1rem;
	border-radius: 0.7rem;
	min-height: 12rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.project-card:hover {
	border: 2px solid #bda035;
}

.project-card--links {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.projects-section--projects {
	padding: 3rem;
	display: flex;
	justify-content: center;
	margin: 3vh auto 0 auto;
	gap: 3rem;
	max-width: 60rem;
	flex-wrap: wrap;
}

.teck-stack--element:hover {
	color: #bda035;
}
